<h1>Odkrywaj połączenia smakowe</h1>

<div ng-app="BlondsCookingApp">
    <div ng-controller="IngredientController">        
        <div class="row" ng-show="show">
            <div class="col-md-3 all-ingredient-corner btn" ng-repeat="i in ingredients" ng-click="addIngredient(i.Id)" >
                {{i.Name}}
                @*<input id="add-ingredient2" href="#menu-toggle" type="button" class="btn btn-default" value="Dodaj" ng-click="addIngredient(i.Id)" />*@
                <div ng-if="pairings.length > 0">
                    <img class="matching-icon" ng-src="{{i.MatchingIconUrl}}" alt="Image" />                  
                </div>
            </div>
        </div>

        <div id="page-content-wrapper" ng-hide="show">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <input type="button" class="btn btn-success" value="Start" ng-click="showIngredients()"/>
                        <div class="col-md-1 selected-ingredients-corner" ng-repeat="p in pairings">
                            {{p.Name}}
                        </div>
                    </div>
                </div>
                @*<div class="circle" id="circles-1"></div>*@

            </div>
        </div>
    </div>
</div>




@section scripts
{
    <script src="~/Modules/IngredientClient.js"></script>
}


