@model IEnumerable<BlondsCooking.Models.Structure.Recipe>

<h2>Wybraliśmy to specjalnie dla Ciebie!</h2>

@foreach (var item in Model)
{
    <div class="col-md-4 category">
        <a href="@Url.Action("Recipe", "Category", new {id = item.Id}, null)">
            <div class="img-category">
                <img class="img-responsive img-full" src="@Url.Content(item.Image)" alt="" />
            </div>
        </a>
        <p class="recipe-title-in-category">
            @item.Name
        </p>
    </div>
}
