@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<img class="img-error" src="@Url.Content("~/Images/Layout/bon-appetit-biale.png")" alt="" />

<h1 class="text-warning">Ops.</h1>
<h2 class="text-warning">It looks like you were looking for something that doesn't exist..</h2>


