@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<img class="img-error" src="@Url.Content("~/Images/Layout/bon-appetit-biale.png")" alt="" />

<h1 class="text-warning">Ops.</h1>
<h2 class="text-warning">Wyglądało na to, że za mało Cię znamy aby coś Ci polecić.. Oceń więcej potraw i wróć tutaj!</h2>

